a:hover {
    color: blue;
}

img {
    width: 25%;
    height: 25%;
}

#text {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.interesting {
    width: 300px;
    border: 15px dotted red;
    padding: 50px;
    margin: 20px;
}